@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

.main-body {
  width: 100%;
}

.column-left {
  background: rgb(74,144,226);
  width: 33.3%;
  height: 200vh;
  float:left;
}

.column-center {
  background: rgb(80,227,194);
  width: 33.4%;
  height: 200vh;
  float:left;
}

.column-right {
  background: rgb(184,233,134);
  width: 33.3%;
  height: 200vh;
  float:left;
  position: relative;
}

.image-box {
  position: absolute;
  bottom: 0;
  background: rgb(208,2,17);
  width: 100%;
  height: 200px;
  line-height: 175px;
}

.image-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
}
